# Exclude everything by default
/*

# Except for tracked top-level project directories
!/.devcontainer/
!/.github/
!/.github-assets/
!/4J.Input/
!/4J.Common/
!/4J.Profile/
!/4J.Render/
!/4J.Storage/
!/4jlibs/
!/docs/
!/Minecraft.Assets/
!/Minecraft.Client/
!/Minecraft.World/
!/scripts/
!/subprojects/
/subprojects/*
!/subprojects/*.wrap
!/subprojects/4jlibs/
!/subprojects/4jlibs/**
/scripts/__pycache__/
!/.clang-format
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitignore
!/.gitmodules
!/CONTRIBUTING.md
!/flake.lock
!/flake.nix
!/meson.build
!/meson.options
!/README.md
